.app-table {
  border-collapse: collapse;
  border: 1px solid gray;
  width: 100%;
}

.app-table tr {
  border-bottom: 1px solid gray;
}

.app-table th {
  padding: 7px 0;
}

.app-table td {
  padding: 12px 0;
}
